.mian .selectBox .pay-box .list .item[data-v-67caa467] {
    text-align: center;
    padding: .26667rem 0;
    margin-bottom: .26667rem;
    width: 31%;
    margin-left: 3%;
    background: linear-gradient(180deg, #4675d2 0%, #374992 100%);
    border-radius: .26667rem;
    overflow: hidden
}