<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manual USDT</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
        integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
</head>

<body>
    <style>
        html {
            height: 100%;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        main {
            display: flex;
            flex-direction: column;
            gap: 15px;
            height: 100%;
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #f2f2f2;
            padding: 6px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            margin: 15px 10px;
        }

        footer {
            background-color: #f2f2f2;
            padding: 6px;
            text-align: center;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            margin: 0px 10px;
            margin-top: auto;
        }

        .tutorial_root {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #f2f2f2;
            padding: 0px 25px 20px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            margin: 15px 10px;
        }

        .tutorial_content p {
            display: flex;
            gap: 6px;
        }

        .tutorial_content p strong {
            white-space: nowrap;
        }

        @media (min-width: 500px) {
            .tutorial_root {
                padding: 0px 20px 20px;
            }
        }

        .upi_display_root {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #f2f2f2;
            padding: 0px 25px 20px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            margin: 15px 10px;
        }

        .upi_display_root h2 {
            margin: 20px 0px 5px;
            font-weight: 600;
        }

        .upi_display_content {
            margin-top: 10px;
            padding: 5px 13px;
            border-radius: 9px;
            border: 1px solid #ccc;
            font-size: 25px;
            cursor: pointer;
            width: 200px;
            text-align: center;
            background-color: #008CBA;
            text-align: center;
            color: white;

        }

       


        .verification_form__root {
            display: flex;
            flex-direction: column;
            gap: 6px;
            /* align-items: center; */
            background: #f2f2f2;
            padding: 10px 25px 25px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            margin: 15px 10px;
        }

        .verification_form__root label {
            margin-top: 10px;
            font-weight: 600;
        }

        .verification_form__root input {
            margin-top: 10px;
            padding: 10px 13px;
            border-radius: 9px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        .verification_form__root input::placeholder {
            font-size: 14px;
        }

        .verification_form__root button {
            margin-top: 10px;
            padding: 10px;
            border-radius: 9px;
            border: 1px solid #ccc;
            background-color: #1c4ff7;
            background: linear-gradient(90deg,
                    rgba(172, 10, 154, 1) 0%,
                    rgba(0, 39, 255, 1) 100%);

            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .upi_pay_now {
            margin-top: 10px;
            padding: 10px 15px;
            border-radius: 9px;
            border: 1px solid #ccc;
            background-color: #1c4ff7;
            background: linear-gradient(40deg,
                    rgba(172, 10, 154, 1) 0%,
                    rgba(0, 39, 255, 1) 100%);
            font-weight: 500;
            color: white;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
        }
    </style>

    <main>
        <header>
            <h2>All in One</h2>
        </header>

        <div class="upi_display_root">
            <h2 class="upi_display_title">Send <%=Amount%> ₹</h2>
            <button class="upi_display_content" id="copy_wallet_address_btn">
                    <strong>Pay Now </strong>
            </button>
        </div>

        <form class="verification_form__root" action="submit.php" method="post">
            <label for="ref_no">Transaction Reference No.</label>
            <input type="text" id="ref_no" name="ref_no" required placeholder="Enter Your Transaction Reference No here..." />
            <button id="submit_button" type="submit">Submit</button>
        </form>

        <div class="tutorial_root">
            <h3 class="tutorial_title">Step by Step Process</h3>
            <div class="tutorial_content">
                <p>
                    <strong>Step 1: </strong>
                    <span>
                        Click on Pay Now Button and diposit the amoount. Pay Now बटन पर क्लिक करें और राशि जमा करें।
                    </span>
                </p>
                <p>
                    <strong>Step 2:</strong>
                    <span>
                        Copy the Reference No. and paste it in our Reference No field. Reference No को कॉपी करें और इसे हमारे Reference No फ़ील्ड में पेस्ट करें।
                    </span>
                </p>
                <p>
                    <strong>Step 3:</strong>
                    <span> Click on the "Submit" button to complete the process. complete process करने के लिए Submit बटन पर क्लिक करें।</span>
                </p>
            </div>
        </div>

        <footer>
            <p></p>
        </footer>
    </main>

    <script>

        const alertMessage = (text) => {
            const msg = document.createElement('div');
            msg.setAttribute('data-v-1dcba851', '');
            msg.className = 'msg';

            const msgContent = document.createElement('div');
            msgContent.setAttribute('data-v-1dcba851', '');
            msgContent.className = 'msg-content v-enter-active v-enter-to';
            msgContent.style = '';
            msgContent.textContent = text;

            msg.appendChild(msgContent);
            document.body.appendChild(msg);

            setTimeout(() => {
                msgContent.classList.remove('v-enter-active', 'v-enter-to');
                msgContent.classList.add('v-leave-active', 'v-leave-to');

                setTimeout(() => {
                    document.body.removeChild(msg);
                }, 100);
            }, 1000);
        }

        const copyUpiId = document.getElementById("copy_wallet_address_btn");

        copyUpiId.addEventListener("click", function () {
           
                    const amount = parseInt(<%=Amount%>);
            switch (amount) {
  case 200:
    window.location.href = "https://rzp.io/l/yrTbI8y";
    break;
  case 500:
    window.location.href = "https://rzp.io/l/Jvtpag4Hz";
    break;
  case 1000:
    window.location.href = "https://rzp.io/l/FwEgVBRL";
    break;
  case 5000:
    window.location.href = "https://rzp.io/l/1WNODhu3Q";
    break;
  case 10000:
    window.location.href = "https://rzp.io/l/tJfcd6B";
    break;
  case 20000:
    window.location.href = "https://rzp.io/l/glGKJFz";
}
           
           
        });

        const submitButton = document.getElementById("submit_button");
        submitButton.addEventListener("click", async (event) => {
            try {
                event.preventDefault();
                const refNo = document.getElementById("ref_no").value;
                const amount = '<%=Amount%>';
                const response = await axios.post("/wallet/paynow/manual_upi_request", {
                    money: amount,
                    utr: refNo,
                })

                if (!response?.data) {
                    alertMessage("Something went Wrong!")
                    return
                }

                if (response?.data?.status === false) {
                    alertMessage(response?.data?.message)
                    return
                }

                alertMessage(response?.data?.message)

                window.location.href = "/wallet/rechargerecord"
            } catch (error) {
                console.log(error);
                alertMessage("Something went Wrong!")
            }
        });
    </script>
</body>

</html>